body {
    font-family: Arial;
    text-align: center;
    background-color: #111;
    color: white;
}

button {
    padding: 10px 20px;
    background: #00ffcc;
    border: none;
    cursor: pointer;
}
